<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Feedback App</title>
    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        @font-face {
            font-family: myPlexFont;
            src: url('./public/ibm-plex-sans/IBMPlexSans-Regular.otf');
        }
        * {
          font-family:myPlexFont;
        }
    </style>
<head>
<body>
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
          <h1 class="display-4">Feedback</h1>
          <p class="lead">Call for Vode 2020 India <br/>
<!-- date <br/>21st November 2019</p> -->
          </div>
          </div>
      <div class="container">
          <form method="POST" action="/api/attendees">

            <h4>1. Should there be future technical deep dive workshop on the content delivered ?</h4>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="0" required>
            <label class="form-check-label" for="inlineRadio1">0</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="1">
            <label class="form-check-label" for="inlineRadio2">1</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="3">
            <label class="form-check-label" for="inlineRadio2">3</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="4">
            <label class="form-check-label" for="inlineRadio2">4</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="5">
            <label class="form-check-label" for="inlineRadio2">5</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="6">
            <label class="form-check-label" for="inlineRadio2">6</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="7">
            <label class="form-check-label" for="inlineRadio2">7</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="8">
            <label class="form-check-label" for="inlineRadio2">8</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="9">
            <label class="form-check-label" for="inlineRadio2">9</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="event_rate" id="event_rate" value="10">
            <label class="form-check-label" for="inlineRadio2">10</label>
            </div>
            <br/><br/>

            <h4>2. How useful was the information presented in this session/event ?</h4>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="0" required>
            <label class="form-check-label" for="inlineRadio2">0</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="1">
            <label class="form-check-label" for="inlineRadio2">1</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="3">
            <label class="form-check-label" for="inlineRadio2">3</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="4">
            <label class="form-check-label" for="inlineRadio2">4</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="5">
            <label class="form-check-label" for="inlineRadio2">5</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="6">
            <label class="form-check-label" for="inlineRadio2">6</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="7">
            <label class="form-check-label" for="inlineRadio2">7</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="8">
            <label class="form-check-label" for="inlineRadio2">8</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="9">
            <label class="form-check-label" for="inlineRadio2">9</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="info_rate" id="info_rate" value="10">
            <label class="form-check-label" for="inlineRadio2">10</label>
            </div>
            <br/><br/>

            <h4>3. How would you rate the session/event content and delivery by the speaker ?</h4>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="0" required>
            <label class="form-check-label" for="inlineRadio2">0</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="1">
            <label class="form-check-label" for="inlineRadio2">1</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="3">
            <label class="form-check-label" for="inlineRadio2">3</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="4">
            <label class="form-check-label" for="inlineRadio2">4</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="5">
            <label class="form-check-label" for="inlineRadio2">5</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="6">
            <label class="form-check-label" for="inlineRadio2">6</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="7">
            <label class="form-check-label" for="inlineRadio2">7</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="8">
            <label class="form-check-label" for="inlineRadio2">8</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="9">
            <label class="form-check-label" for="inlineRadio2">9</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="speaker_rate" id="speaker_rate" value="10">
            <label class="form-check-label" for="inlineRadio2">10</label>
            </div>
            <br/><br />
            <h4>4. Would you consider attending future events?</h4>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="0" required>
            <label class="form-check-label" for="inlineRadio2">0</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="1">
            <label class="form-check-label" for="inlineRadio2">1</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="3">
            <label class="form-check-label" for="inlineRadio2">3</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="4">
            <label class="form-check-label" for="inlineRadio2">4</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="5">
            <label class="form-check-label" for="inlineRadio2">5</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="6">
            <label class="form-check-label" for="inlineRadio2">6</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="7">
            <label class="form-check-label" for="inlineRadio2">7</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="8">
            <label class="form-check-label" for="inlineRadio2">8</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="9">
            <label class="form-check-label" for="inlineRadio2">9</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="future_events" id="future_events" value="10">
            <label class="form-check-label" for="inlineRadio2">10</label>
            </div><br/><br/>
            <h4>5. Please rate the overall level of satisfaction with our event.</h4>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="0" required>
            <label class="form-check-label" for="inlineRadio2">0</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="1">
            <label class="form-check-label" for="inlineRadio2">1</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="3">
            <label class="form-check-label" for="inlineRadio2">3</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="4">
            <label class="form-check-label" for="inlineRadio2">4</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="5">
            <label class="form-check-label" for="inlineRadio2">5</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="6">
            <label class="form-check-label" for="inlineRadio2">6</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="7">
            <label class="form-check-label" for="inlineRadio2">7</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="8">
            <label class="form-check-label" for="inlineRadio2">8</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="9">
            <label class="form-check-label" for="inlineRadio2">9</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="satisfaction" id="satisfaction" value="10">
            <label class="form-check-label" for="inlineRadio2">10</label>
            </div>
            <br/><br/>
            <h4>6. What improvements would you suggest for future?</h4>
            <textarea class="form-control" rows="5" id="improvement" name="improvement"></textarea>
            <br/><br/>
            <input type="submit" value="Submit" class="btn btn-info btn-lg" />
        </form>

        <</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
